@page "/"
@inject IJSRuntime JSRuntime

<PageTitle>カスタマバーコードリーダー WEB</PageTitle>

<h2>カスタマバーコードリーダー WEB</h2>
<hr class="hr"/>

<h4>当サイトについて</h4>
<p class="text-start">Webサイト上でカスタマバーコードの読み取りを行えます。</p>

<h4>読み取り機能</h4>

<a href="pcb-reader-file" class="btn btn-primary" style="margin: 0.5em;" role="button"><span class="oi oi-file" aria-hidden="true"></span> CBファイル読み込み</a>
<a href="pcb-reader-camera" class="btn btn-primary" style="margin: 0.5em;" role="button"><span class="oi oi-camera-slr" aria-hidden="true"></span> CBカメラ読み込み</a>

<br/>
<br/>

<h4>機能・できること</h4>

<ul>
    <li>画像や搭載しているカメラを利用して、カスタマバーコードを読み取ります。</li>
    <li>画像やカメラ映像の情報は端末内のブラウザ上のみで処理しているため、外部にはそれらの情報はアップロードされません。個人情報が含まれている場合でも安心してご利用できます。</li>
    <li>当サイトのソースコードはGitHub上で公開しています。</li>
      <ul>
        <li><a href="https://github.com/EmEpsilon/PostalBarcodeReaderWebAssembly/" target="_blank">GitHub</a></li>
      </ul>
    <li>当サイトは、個人利用、商用利用問わず、無料で利用可能です。</li>
</ul>

<details>
<summary class="h4">使い方</summary>

<ul>
    <li>メニューバーから使用する機能を選択します。(PCの場合は左側、スマホの場合は上側にメニューバーがあります)</li>
    <li class="fw-bold">画像ファイルから読み取りを行う場合は、「CBファイル読み込み」を選びます。</li>
      <ol>
          <li>「ファイルを選択」を押し、対象ファイルを選びます。</li>
          <li>画像が表示されたら、「読み取り開始」を押します。</li>
          <li>しばらくすると、読み取り結果が表示されます。</li>
      </ol>
    <li class="fw-bold">カメラから読み取りを行う場合は、「CBカメラ読み込み」を選びます。</li>
      <ol>
          <li>カメラ利用の権限要求がされるので許可してください。</li>
          <li>カメラ映像が表示されない場合は、「カメラモード(リア・フェイス)切り替え」を押します。</li>
          <li>読み取りたい対象をカメラ映像中央になるように映してください。</li>
          <li>しばらくすると、読み取り結果が表示されます。</li>
          <li>読み取りできない場合は、カメラ映像に大きく映るようにしてください。また、明るい場所で行ってください。</li>
      </ol>
</ul>
</details>
<br />

<h4>注意事項</h4>
<p class="text-start">
カスタマバーコードの取得結果について、動作確認を行っていますが100%正しい結果を得られることを保証しておりません。当サイトを利用・または利用した結果によって生じた損失に関しては一切責任を負いません。
</p>
<p class="text-start">
当サイトはその仕組み上、ダウンロードするデータサイズが大きいため、ページの再読み込みの際に多くの通信量を必要とします。
</p>
